@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    I am currently a student at Ohio University pursuing a Bachelor degree in Business Administration specializing in 
    both Management Information Systems and Finance with a minor in Business Analytics. Since January 2018, I have 
    been serving as the Vice President of Finance for the Professional Business Fraternity Phi Chi Theta. On campus, 
    I am also a leader and mentor for incoming freshman through the Learning Community Program offered to all incoming 
    students. Additionally, I work for Event Services as a Building Manager where I oversee 2-5 employees per shift, 
    interact with customers, and actively solve issues occurring with events in the major event spaces.
    <br />
    <br />
    Over the past few years, I have held various positions from a bartender in the customer service industry to a 
    Finance & Accounting Intern for the 8th largest bank in the United States. These positions have helped me learn 
    valuable soft and technical skills in the business world. One thing that I have definitely learned is that my 
    positive outlook and strong work ethic is the reason I have succeeded in every position I have held.
    <br />
    <br />
    This past summer, I am interned with PNC Financial Services in their Balance Sheet Management Group as 
    apart of their Corporate Finance and Accounting Internship Program. My focus was using powerful technology 
    to visualize the impact interest rate changes have on PNC's net interest income. Through this experience, 
    I strive to become a leader in the business world by actively collaborating with people on a daily basis.
    <br />
    <br />
    Upon graduation in May 2020, I will be working full time for PNC Bank apart of their Corporate & Institutional 
    Treasury Management Development Program. I will be on the product track where I will collaborate with both the 
    technology and operations teams to develop, test and analyze treasury management products.
</p>
