@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Patrick Crago<br />
    9 Oak Street Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    425.555.8655
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pc533016@ohio.edu">pc533016@ohio.edu</a><br />
</address>