@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Patrick Crago</h1>
    <p class="lead">Senior at Ohio University studying Management Information Systems, Finance, and Business Analytics.</p>
    <p><a href="https://business.ohio.edu/academics/undergrad-majors/" class="btn btn-primary btn-lg">Learn more about these majors &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>College of Business</h2>
        <p>
            When it comes to business school rankings, Ohio University’s College of Business is consistently ranked among the 
            country’s best business schools. And behind these consistently impressive numbers is a team of distinguished 
            educators driven to provide programs, support, and an incomparable educational experience.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sample Applications</h2>
        <p>Here is some of my work using Microsoft SQL and Visual Studio.</p>
        <p><a class="btn btn-default" href="https://cob.ohio.edu/pc533016">See applications &raquo;</a></p>
        @Html.ActionLink("Customers", "Index", "Customers")<br />
        @Html.ActionLink("Orders", "Index", "Orders")<br />
        @Html.ActionLink("Products", "Index", "Products")<br />
        @Html.ActionLink("Order Details", "Index", "OrderDetails")<br />

    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>View my other accomplishments.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/patrickcrago/">View LinkedIn &raquo;</a></p>
    </div>
</div>